body{
  font-family: Montserrat;
}

div {
	padding:0px;
	margin:0px;
	border:0px;
}
body #container{
	width:1200px;
	border:1px solid black;
	margin:10px auto 40px auto;
	background-color:#F4F4F4;
}
/*
#container #top{
	height:50px;
	width:1200px;
}
*/
#logo{
	float:left;
	width:90px;
	height:50px;
  background-color:#00AEF0;
}


#navigation{
	width:1200px;
	height:50px;
	background-color:#00AEF0;
}

#container #body{
  margin-top:60px;
  width:1200px;
  height: 500px;
  background-color:#F4F4F4;
}

 #logbox, #logbox2, #logbox3, #logbox4, #logbox5, #logbox6{
   border:2px solid #CCCCCC;

	padding: 5px;
  margin-top: 50px;
  margin-left: 25px;
  margin-bottom: 10px;
  float: left;
  border-radius: 15px;
  width:350px;
  height:325px;
  background-color: ghostwhite;
}

#container #body #survey{
  border:2px solid #CCCCCC;
  float: center;
  text-align: center;
  margin-top: 50px;
  margin-left: 375px;
  border-radius: 15px;
  width:400px;
  height:450px;
  background-color: ghostwhite;
}



#body{



}
 /*#logbox2{
  border:2px solid #CCCCCC;


  margin-top: 50px;
float: left;
  border-radius: 15px;
  width:350px;
  height:325px;
  background-color: ghostwhite;
}*/

#container #bottom #footer{
  width:1200px;
  height:200px;
  background-color: lightblue;

}
/*
#bottom{
	float: right;
	display: block;
}*/
/*
#centeralign{
  text-align: center;
}
*/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 95px;
    overflow: hidden;
    background-color: #00AEF0;
}

ul.nav li {
   float: right;
    font-family:'Raleway',"Sans serif";
    font-size:0.8em;
}
li a {
    display: block;
    color: white;
    text-align: right;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
	color: #00AEF0;
    background-color: white;
}

h1{
  font-family: Nanum Gothic;
}

p{
  font-family: Montserrat;
}
